{% extends 'base.html' %}

{% block content %}
    <h2 class="section-title">Lançamentos</h2>

    {# Este bloco de código mostra o botão "Adicionar" apenas para o admin logado #}
    {% if user.is_authenticated and user.is_superuser %}
        <p style="margin-bottom: 25px;">
            <a href="{% url 'webtoon_form' %}" class="button-primary">+ Adicionar Nova Webtoon</a>
        </p>
    {% endif %}

    <div class="webtoon-grid">
        {% for webtoon in lista_webtoons %}
            <a href="{% url 'detalhes_webtoon' webtoon.id %}" class="webtoon-card">
                
                {% if webtoon.capa %}
                    <img src="{{ webtoon.capa.url }}" alt="Capa de {{ webtoon.titulo }}" class="cover-image">
                {% else %}
                    <img src="https://via.placeholder.com/180x250.png?text=Sem+Capa" alt="Sem capa" class="cover-image">
                {% endif %}

                <div class="webtoon-info">
                    <h2 class="webtoon-title">{{ webtoon.titulo }}</h2>

                    <ul class="chapter-list">
                        {% for capitulo in webtoon.capitulos.all|slice:":2" %}
                            <li>
                                <span>Capítulo {{ capitulo.numero }}</span>
                            </li>
                        {% empty %}
                            <li>Nenhum capítulo</li>
                        {% endfor %}
                    </ul>
                </div>
            </a>
        {% empty %}
            <p>Nenhuma webtoon cadastrada ainda.</p>
        {% endfor %}
    </div>
{% endblock %}